body{
    background-image: url("../images/background.jpg");
    background-size:     cover;                     
    /* background-repeat:   no-repeat;
    background-position: center center;   */
}
.contain{
    position:fixed;
    top: 20%;
    left: 10%;
    width:60%;
    height:100%;

}
.row{
    display: flex;
}
.block{
    border: 1px solid grey;
    width:10%;
    height: 5vh;
}

.menu{
    position:fixed;
    top: 20%;
    left: 80%;
}
.block-menu{
    border: 1px solid black;
    width:8vh;
    height: 8vh;

}
#logoImg{
    position: fixed;
    left: 10%;
    top:5%;
    width:20%; /* you can use % */
    height: auto;
}
.block-menu{
    object-fit: cover;
}

.sky{
    background-image: url("../images/image\ \(3\).jpg");
}
.tGrs{
    background-image: url("../images/image.jpg");
}
.earth{
    background-image: url("../images/image\ \(1\).jpg");
}
.stone{
    background-image: url("../images/image\ \(2\).jpg");
}
.wood{
    background-image: url("../images/image\ \(9\).jpg");    
}
.leaves{
    background-image: url("../images/image\ \(6\).jpg");
}
#shovelid{
    background-image: url("../images/shovel.png");
    background-size: cover;
}
#pickaxeid{
    background-image: url("../images/pickaxe.png");
    background-size: cover;

}
#axeid{
    background-image: url("../images/axe.png");
    background-size: cover;
}
